
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
@font-face {
    font-family: 'museo300';
    src: url('../fonts/Museo300-Regular/Museo300-Regular.eot');
    src: url('../fonts/Museo300-Regular/Museo300-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo300-Regular/Museo300-Regular.woff') format('woff'),
         url('../fonts/Museo300-Regular/Museo300-Regular.ttf') format('truetype'),
         url('../fonts/Museo300-Regular/Museo300-Regular.svg#museo300') format('svg'),
         url('../fonts/Museo300-Regular/Museo300-Regular.otf') format('otf');
}
@font-face {
    font-family: 'museo500';
    src: url('../fonts/Museo500-Regular/Museo500-Regular.eot');
    src: url('../fonts/Museo500-Regular/Museo500-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo500-Regular/Museo500-Regular.woff') format('woff'),
         url('../fonts/Museo500-Regular/Museo500-Regular.ttf') format('truetype'),
         url('../fonts/Museo500-Regular/Museo500-Regular.svg#museo300') format('svg'),
         url('../fonts/Museo500-Regular/Museo500-Regular.otf') format('otf');
}
@font-face {
    font-family: 'museo100';
    src: url('../fonts/Museo100/Museo_100.woff') format('woff'),
         url('../fonts/Museo100/Museo_100.ttf') format('truetype'),
         url('../fonts/Museo100/Museo_100.woff2') format('woff2');
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    min-width: 320px;
}

.clear {
    clear: both;
}
/* ----- desktop menu -----*/
#desktop {
    position: absolute;
    top: 30px;
    right: 80px;
    background: transparent;
    z-index: 800;
}
#desktop a {
    font-family: 'Museo300', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 19px;
    display: none;
}

/* ----sidenav ----*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #8e3d8c;
    text-align: center;
}
.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 1px;
    display: block;
    font-family: 'Museo500', sans-serif;
    font-size: 24px;
    transition: 0.3s;
    color: #8e3d8c;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 52px;
    margin-left: 50px;
    color: #8e3d8c;
    font-weight: 100;
}
#filter{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #292b2c;
    opacity: .8;
    z-index: 999;
    display: none;
}
.head {
    position: relative;
    height: 650px;
    background-image: linear-gradient(to right, #602e6d, #d12049);
    margin-bottom: 30px;
}
.side-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #ffffff;
    font-size: 200%;
    cursor: pointer;
}
.logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 89px;
    height: 50px;
}
.head-text p {
    font-family: 'Museo300', sans-serif;
    line-height: normal;
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding-top: 100px;
}
.iq{
    display: none;
}
.eq-btn {
    width: 290px;
    height: 330px;
    margin: 32px auto 0;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.3);
}
.eq-btn p, h3 {
    font-family: 'Museo500', sans-serif;
    font-size: 30px;
    line-height: 20px;
    padding: 6px 0;
}
.eq-btn h3 {
    font-size: 20px;
    padding: 6px 0;
}
.eq-btn h4 {
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    margin-top: 10px;
}
button {
    display: block;
    border-radius: 4px;
    background-color: #8e3d8c;
    margin: 30px auto 0;
    width: 100%;
    height: 47px;
}
.eq-btn a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}
.contain {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
}
.contain-text {
    padding: 0;
}
.contain p {
    padding: 10px 0;
}
/*--------carousel ----------*/
.carousel-back {
    background-color: #e0e0e0;
    padding:0 15px;
    margin-top: 30px;
}
 .carousel-inner{
     background-color: #e0e0e0;
     width: 100%;
     height: 100%;
     padding: 0;
     margin-bottom: 25px;
}
.carousel-item {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 0;
    background-color: #585858;
}
.carousel img {
    width: 100%;
}
.col-md-4 {
    position: relative;
    width: 33%;
    margin-bottom: -3px;
    margin-left: -2px;
}
.name {
    position: absolute;
    top: -60px;
    right: 20px;
    text-align: right;
}
.firstName {
    font-size: 24px;
    font-family: 'Museo500', sans-serif;

}
.secondName {
    font-size: 14px;
    font-family: 'Museo100', sans-serif;
}
/*--------carousel ----------*/
#item-2 {
    margin-top: 60px;
}
.layer img {
    display: block;
    width: 100%;
    max-width: 355px;
    margin: 25px auto;
}
.layer-4 {
    display: block;
    margin: -10px auto 0;
    max-width: 270px;
}
.number-list {
    margin-bottom: 65px;
}
.number-list ol {
    font-size: 14px;
    font-weight: bold;
    color: #8e3d8c;
    padding-left: 15px;
}
.number-list li {
    padding: 6px;
}
.number-list span {
    color: #333333;
    font-weight: 300;
}

.contain-text-2 {
    margin: 0 auto 50px;
}
.strong {
    font-weight: 500;
}
.contain-text-color {
    background-image: linear-gradient(to right, #602e6d, #d12049);
    width: 100%;
    color: #ffffff;
    text-align: justify;    
    padding: 45px 0;
}
#item-4 {
    margin-top: 30px;
}
.contain-text-color h1 {
    color: #ffffff;
    margin-bottom: 20px;
}
.contain-text-color p {
    font-size: 14px;
    font-weight: 200;
    padding: 10px 0;
    /*max-width: 576px;*/
    margin: 0 auto;
}
.contain-text-color p strong {
    font-style: italic;
    font-weight: 500;
}
.layer-3 {
    background-color: #e0e0e0;
    width: 100%;
}
/* ---- list ----- */
.list {
    margin-bottom: 50px;
}
.list-title {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
}
.list span {
    line-height: 30px;
    color: #333333;
}
.last {
    list-style-type: none;
    margin-top: 5px;
}
.last span{
    line-height: 20px;
    margin-left: -15px;
}
ul {
    padding-left: 15px;
    color: #8e3d8c;
    font-weight: 300;
}
/*---- parallax -----*/
.view {
    /*height: 500px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}
.place {
    font-family: 'Museo300', sans-serif;
    font-size: 48px;
    padding: 30px;
}
.view p {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 10px;
}
/* ---  ticket ---*/
.ticket-piece {
    position: relative;
    width: 290px;
    margin: 30px auto;
    padding: 6px 20px 14px;
    border: 1px solid #aaaaaa;
}
.ticket {
    margin-top: -15px;
}
.ticket p {
    font-family: 'Museo500', sans-serif;
    font-size: 24px;
    height: 100%;
    color: #8e3d8c;
}
.dashed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% - 20px);
    border-right: 1px dashed #888888;
}
.ticket-piece span {
    color: #888888;
}
/* ticketpro */
.card {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 15px 40px 0 rgba(0, 0, 0, 0.3);
    width: 290px;
    margin: 30px auto 70px;
    padding: 19px;
}
.card h3 {
    line-height: 40px;
    font-weight: normal;
    text-transform: uppercase;
}
.card-p {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Museo100', sans-serif;
}
.card a {
    color: #333333;
}
.grey {
    color: #888888;
    font-style: italic;
}
.form-group {
    margin: 0 auto;
}
.form-control {
    width: 100%;
    height: 47px;
    display: block;
    margin: 8px 0 16px;
    border: 1px solid #888888;
    border-radius: 4px;
}
.btn-primary {
    display: block;
    font-size: 18px;
    margin: 30px auto 15px;
    color: #ffffff;
    font-weight: normal;
}
.shop {
    text-align: center;
}
/* -----------checkbox---------*/
.check {
    position: relative;
}
.custom-control {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    padding-top: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    background-color: #ffff;
    border: 1px solid grey;
    border-radius:4px;
}
.custom-control:hover input ~ .checkmark {
    background-color: #ffff;
}
.custom-control input:checked ~ .checkmark {
    background-color: #ffff;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom-control input:checked ~ .checkmark:after {
    display: block;
}
.custom-control .checkmark:after {
    left: 9px;
    top: 2px;
    width: 5px;
    height: 14px;
    border: solid grey;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.uppercase {
    text-transform: uppercase;
}
h1 {
    font-family: 'Museo300', sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: #8e3d8c;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
}
.color-line {
    height: 10px;
    background-image: linear-gradient(to right, #cf2640, #dad830);
}
.btntop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 2000;
    background-image: linear-gradient(to right, #602e6d, #d12049);
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: .6;
    display: none;
}
i.fa.fa-arrow-up {
    margin: 8px 10px;
    font-size: 140%;
}

/* ----------media--------------*/


@media (min-width: 576px){
    .contain {
     width: 546px;
    }
}
@media (min-width: 767px) {
    #desktop .d-block-768 {
        display: inline-block;
    }
    .contain{
        width: 738px;
        padding-right: 8px;
        padding-left: 8px;
    }
    .head-text p{
        font-size: 48px;
        width: 740px ;
        margin: 0 auto 60px;
    }
    .iq{
        display: block;
        float: left;
        width: 300px;
    }
    .iq img {
        width: 100%;
    }
    .eq-btn {
        float: right;
        margin: 0;
        width: 355px;
    }
    .contain-title {
        width: 100%;
    }
    #item-2 {
        margin: 28px 0;
    }
    #item-4, #item-5 {
        margin-bottom: 26px;
    }
    #item-7 {
        margin-bottom: 20px;
    }
    .view {
        height: 600px!important;
    }
    .contain-text, .number-list {
        width: 48%;
    }
    .name {
        top: -100px;
    }
    .carousel-back {
        margin-top: 60px;
    }
    .firstName {
        font-size: 49px;
    }
    .secondName {
        font-size: 24px;
    }
    .number-list, .card, .layer-1 {
        float: right;
    }
    .layer-2, .layer-4, .ticket  {
        float: left;
    }
    .ticket{
        margin-top: 30%;
        width: 49%;
    }
    .card, .ticket-piece {
        width: 354px;
    }
    .list {
        width: 49%;
        float: right;
    }
    .contain-text {
        float: left;
    }
    .layer-3 {
        float: none;
    }
    .dashed {
        width: calc(100% - 45px);
    }
}
@media(min-width: 992px){
    #desktop .d-block-992 {
        display: inline-block;
    }
    .head-contain {
        width: 800px!important;
    }
    .eq-btn {
        width: 385px!important;
        height: 290px;
        padding-top: 15px;
    }
    .contain {
        padding-right: 0;
        padding-left: 0;
    }
    .layer img {
        max-width: 370px!important;
    }
    .view {
        height: 720px!important;
    }
}
@media(min-width: 1200px){
    .contain {
        width: 770px;
    }
    .iq {
        width: 370px;
        margin-top: -45px;
    }
    .head-contain {
        width: 950px!important;
    }
    .eq-btn {
        width: 470px!important;
        height: 270px;
        padding-top: 15px;
    }
    #desktop {
        right: 0;
    }
    #desktop a {
        display: inline-block;
    }
    .side-menu {
        display: none;
    }
    .head-text p {
        width: 100%;
        font-size: 60px;
    }
    h1 {
        font-size: 48px;
    }
    .card , .ticket-piece {
        width: 370px;
    }
    .ticket {
        padding: 0;
    }
}
@media (min-width: 1600px){
    #desktop  {
        right: 360px;
    }
}
@media (min-width: 2500px){
    #desktop  {
        right: 1300px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .contain {
        width: 800px!important;
    }
    .card, .ticket-piece {
        width: 385px;
    }
}

/*
#mySidenav {
    height: 100%;
    width: 280px;
    background-color: #0a4a3c;
    left: 0;
    top: 0;
    z-index: 2;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(-280px,0);
}
.ssm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
}


